{% extends "map/base.html" %}
{% block content %}
	<article class="media content-section">
	  <div class="media-body">
		<div class="article-metadata">
          <legend class="border-bottom mb-4">{{ object.address }}</legend>
		  <img class="rounded-circle account-img" src="{{ object.image.url }}">
		  <p><strong>Address:</strong> {{ object.address }}</p>
		  <p><strong>Owner:</strong> {{ object.owner }}</p>
		  <p><strong>Residents:</strong></p>
		  <ul>
			  {% for resident in object.residents.all %}
				<li>{{ resident }}</li>
			  {% endfor %}
	      </ul>
		  <p><strong>Location:</strong></p>
		  <div id="map2" style="height:300px;width:600px"></div>
		  <script>
			function initMap_detail() {
			  const center = {{ object.location | safe }};
			  const map = new google.maps.Map(document.getElementById("map2"), {
				zoom: 15,
				center: center,
			  });
			  const marker = new google.maps.Marker({
				position: center,
				map: map,
			  });
			}
			window.initMap = initMap_detail;
		  </script>
		  <p><strong>Description:</strong> {{ object.description }}</p>
		{% if object.owner == user %}
			<div>
				<a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'house-update' object.slug %}">Edit</a>
				<a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'house-delete' object.slug %}">Delete</a>
			</div>
		{% endif %}
	  </div>
	</article>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6DMY5Z4I7hDuwVzjeiFSlYKRtWzl5rNs&libraries=geometry&callback=initMap_detail&v=weekly"
         async></script>
{% endblock content %}
