{% extends "map/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<body class="RYHPage">
    <div class="content-section">
        <form method="POST"enctype=multipart/form-data>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><strong>Register Your House</strong></legend>
				{% load static %}
				<p><strong>First, locate your house on the Map!</strong></p>
				<script type="module" src="{% static 'map/house_register_map.js' %}"></script>
				<input id="pac-input" class="controls" type="text" placeholder="Enter your address here">
				<div class="mapbox" id="register_map" style="height:400px;width:680px"></div>
				
                <!--{{ form.non_field_errors }}
				<div class="fieldWrapper">
					{{ form.address.errors }}
					<label for="{{ form.address.id_for_label }}"></label>
					{{ form.address.as_hidden }}
				</div>
				<div class="fieldWrapper">
					{{ form.location.errors }}
					<label for="{{ form.location.id_for_label }}"></label>
					{{ form.location.as_hidden }}
				</div>
				-->
				<br>
				<div class="fieldWrapper">
					{{ form.residents.errors }}
					<label for="{{ form.residents.id_for_label }}"><strong>Who are the residents of this house? </strong></label>
					<p>You are automatically included as the owner.
					<br> Ctrl + Click to deselect a resident.</p>
					{{ form.residents }}
				</div>
				<br>
				<div class="fieldWrapper">
					{{ form.description.errors }}
					<label for="{{ form.description.id_for_label }}"><strong>Give your house a fun description!</strong></label>
					<p>
					{{ form.description }}
				</div>
				<br>
				<div class="fieldWrapper">
					{{ form.image.errors }}
					<label for="{{ form.image.id_for_label }}"><strong>Upload an Image of your house!</strong></label>
					<p>
					{{ form.image }}
				</div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6DMY5Z4I7hDuwVzjeiFSlYKRtWzl5rNs&libraries=places&callback=initAddressMap&v=weekly"
         async></script>
</body>
{% endblock content %}
