{% extends "map/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<article class="media content-section">
	  <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
	  <div class="media-body">
		<div class="article-metadata">
		  <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
		  <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
		</div>
		<h2 class="article-title">{{ object.title }}</h2>
		{% if post.author.profile.house != null %}
			<a href="{% url 'house-detail' post.author.profile.house.slug %}">{{ post.author.profile.house }}</a>
		{% endif %}
		<p class="article-content">{{ object.content }}</p>
		{% if object.author == user %}
			<div>
				<a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Edit</a>
				<a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
			</div>
		{% endif %}
	  </div>
	</article>
	<div class="col-md-12 card mb-4">
	  <div class="card-body">
		<!-- comments -->
		<h4>{{ comments.count }} comments</h4>

		{% for comment in comments %}
		<article class="media content-section">
			<div class="comments" style="padding: 5px;">
			  <img class="rounded-circle article-img" src="{{ comment.author.profile.image.url }}">
			  <a class="mr-2" href="{% url 'user-posts' comment.author.username %}" style="color:black">{{ comment.author }}</a>
				<span class=" text-muted font-weight-normal">{{ comment.created_on }}</span>
			  </p>
			  {{ comment.body | linebreaks }}
			</div>
		</article>
		{% endfor %}
	  </div>
	  <div class="col-md-12 mb-4">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Leave a comment</legend>
				{{ form | crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Submit</button>
			</div>
		</form>
      </div>
	</div>

{% endblock content %}